<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="MGS_Book::index" title="Manage Book" translate="title" module="MGS_Book" sortOrder="30" resource="MGS_Book::index"/>
        <add id="MGS_Book::list_book" title="List of Book" translate="list" module="MGS_Book" sortOrder="30" parent="MGS_Book::index" action="book/index/index" resource="MGS_Book::list_book"/>
         <add id="MGS_Book::add_book" title="Add Book" translate="add" module="MGS_Book" sortOrder="30" parent="MGS_Book::index" action="book/index/add" resource="MGS_Book::add_book"/>
    </menu>
</config>
